@font-face{
  font-family:'museo-sans-rounded';
  src:url('../fonts/museosansrounded-300-webfont.woff') format('woff');
  font-weight:300;
  font-style:normal
}

* {
  font-family: 'museo-sans-rounded';
  font-weight: 300;
}

h1 {
  font-size: 24px;
  margin: 0;
}
