@mixin row-colors($normal, $light) {
  @for $i from 1 through 4 {
    .app-container-category:nth-of-type(#{$i}){
      background-color: nth($normal, $i);
      &:hover {
        background-color: nth($light, $i);
        border: .05em solid nth($normal, $i);
        padding: .05em;

        span {
          opacity: 0;
        }
      }
    }
  }
}

#app-container {
  color: #fff;
  display: flex;
  font-size: 92vh;
  height: 92%;
  flex-flow: column;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.app-container {
  &-row {
    display: flex;
    font-size: 50%;
    height: 50%;
    width: 100%;

    &:first-of-type {
      @include row-colors($first-row-colors, $first-row-colors-light);
    }

    &:last-of-type {
      @include row-colors($second-row-colors, $second-row-colors-light);
    }
  }

  &-category {
    height: 100%;
    overflow: hidden;
    padding: .1em;
    position: relative;
    text-align: center;
    transition: background 0.8s ease;
    width: 25%;

    h1 {
      font-size: 0.075em;
      font-weight: 400;
      line-height: 1em;
      margin-bottom: 1em;
      transition: all 0.3s ease;
    }

    span {
      background: rgba(0,0,0,0.05);
      height: calc(1em - 0.425em);
      left: 40%;
      position: absolute;
      top: 54%;
      transform: rotate(45deg);
      width: calc(1em - 0.2em);
    }

    &.conectivity {
      .app-container-category-image {
        background-image: url("../img/conectivity.png");
      }
    }
    &.bpm {
      .app-container-category-image {
        background-image: url("../img/bpm.png");
      }
    }
    &.mobile {
      .app-container-category-image {
        background-image: url("../img/mobile.png");
      }
    }
    &.ba {
      .app-container-category-image {
        background-image: url("../img/ba.png");
      }
    }
    &.retail {
      .app-container-category-image {
        background-image: url("../img/retail.png");
      }
    }
    &.manufacturing {
      .app-container-category-image {
        background-image: url("../img/manufacturing.png");
      }
    }
    &.logistics {
      .app-container-category-image {
        background-image: url("../img/logistics.png");
      }
    }
    &.e-invoice {
      .app-container-category-image {
        background-image: url("../img/e-invoice.png");
      }
    }

    &-image {
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70%;
      border-radius: 100%;
      height: calc(1em - 0.425em);
      left: 0;
      margin: 0 auto 0.075em;
      position: absolute;
      right: 0;
      transition: transform 0.3s ease;
      width: calc(1em - 0.425em);
    }
  }
}
