.app-footer {
  background-color: white;
  bottom: 0;
  border-color: white;
  display: flex;
  font-size: 8vh;
  height: 8%;
  justify-content: space-between;
  left: 0;
  padding: 0.25em;
  position: fixed;
  width: 100%;

  &.w {
    background-color: transparent;
    display: none;
  }

  .acreditations-container {
    display: flex;
    height: 100%;

    img {
      margin-right: 0.5em;
    }
  }

  img {
    height: 100%;
    width: auto;

    &.emergys-logo {
      padding: 0.08em 0;
    }
  }
}
