#modal-header {
  font-size: 8vh;
  height: 8%;
  padding: 0.1em 0.25em;

  * {
    color: rgba(0,0,0,0.3);
  }
  > ul {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      font-size: .3em;
      font-weight: 500;

      &.fa {
        font-weight: 100;
        line-height: 100%;
      }

      > ul {
        list-style: none;

        > li {
          font-weight: 500;
        }

      }
    }
  }

  .category-title {
    width: 20%;
  }

  #home-button {
    text-align: right;
    width: 20%;
  }
}

#modal-header .app-header-center {
  font-size: 60%;
  height: 100%;
  text-align: center;
  width: 60%;

  .titles-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    width: 100%;

    .slideshow-controls {
      font-size: .6em;
      width: 10%;

      &#title-left {
        text-align: right;
      }

      &#title-right {
        text-align: left;
      }
    }
  }
}

#titles-list {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding: 0;
  width: 80%;

  > li {
    font-weight: 500;
    width: 100%;
  }
}
