#app-header {
  height: 4.5em;
  padding: 1.5em 2em;

  * {
    color: rgba(0,0,0,0.3);
  }
  ul {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 1.25em;
      font-weight: 500;

      &.app-header-center {
        font-size: 1.5em;
      }
      &.fa {
        font-weight: 100;
        line-height: 100%;
      }
    }
  }
}
